@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blue-color: #91d7f2a3;
  --text-faded: #00000074;
  --background-color: #ffffff62;
  --foreground-color: #ffffff9b;
  --dark-yellow-color: #D98B2B;
  --black-color: #000000;
}

* {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    transition: 0.5s;
    letter-spacing: normal;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(39, 159, 233, 0.634), rgba(230, 105, 249, 0.035));
  line-height: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

@media all and (max-width:500px){
  #main {
    margin: 0;
    width: 100%;
  }
}
